.card {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0px;
  height: 7rem;
  background-color: rgb(177, 191, 195);
  overflow: hidden;
}

.card__title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

/* .card__description {
  font-size: 1em;
  text-overflow: ellipsis;
} */
