.input {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  height: 3rem;
  padding: 0.25rem 0rem;
  font-size: medium;
  text-indent: 0.5rem;
}

.form__label {
  position: absolute;
  padding: 0rem 0.5rem;
  transform: translateY(-50%);
  top: 50%;
  left: 0.5rem;
  transition-duration: 0.3s;
  font-size: medium;
  color: rgba(0, 0, 0, 0.4);
}

.form__label--focus {
  position: absolute;
  padding: 0rem 0.5rem;
  top: -1rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  font-size: large;
  font-weight: 600;
  transition-duration: 0.3s;
  background-color: #fff;
}
