.section {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
  background: rgb(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  transition: all 0.3s;
}

.section:hover {
  box-shadow: 6px 8px 14px 0px rgb(0, 0, 0);
}

.section__title {
  text-align: start;
  margin: 1rem 2rem;
}

.section_btn {
  width: 100%;
  margin: 50px auto;
}
