.section {
  flex-grow: 1;
  width: 100%;
  background: white;
  box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  transition: all 0.3s;
}

.section:hover {
  box-shadow: 6px 8px 14px 0px rgb(0, 0, 0);
}

.section__title {
  text-align: center;
}

.section_btn {
  width: 100%;
  margin: 50px auto;
}
