.navbar {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 70, 70);
  /* background-color: rgb(196, 128, 239); */
}

.navbar__btn {
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition-duration: 0.3s;
}

.navbar__btn:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
